numpy
tqdm
pandas
Pillow
flask
jupyter
sklearn
bayesian-optimization
sox
pytest
python-Levenshtein
wget
unidecode==1.1.1
jiwer
numpy==1.18.5
Cython==0.29.21
espnet
torch==1.6.0
tensorboard==2.3.0
torchvision==0.7.0
librosa==0.8.0
matplotlib==3.3.1
hydra-core
torchaudio==0.6.0
scipy==1.5.2
fairscale
optuna
adversarial-robustness-toolbox
phonemizer==2.2.1
espnet_model_zoo
google-cloud-storage
pytorch-lightning>=1.1
torchelastic